/__pycache__
utilties/__pycache__/data_filler.cpython-311.pyc
utilties/__pycache__/randomdata.cpython-311.pyc
utilties/__pycache__/structures.cpython-311.pyc
utilties/__pycache__/logging.cpython-311.pyc
F O/F O.py
F O/F O - Copie.py
